{% extends "base.html" %}

{% block title %}Login{% endblock title %}
{% block body %}
    <style>
        .abc {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("../static/assets/img/header-bg.jpg") !important;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
            color: white;
        }

        .form-box {
            width: 400px;
            height: 400px;
            position: relative;
            margin: 6% auto;
            background: #FFFFFF;
            padding: 5px;
            background-color: li;
            overflow: hidden;
            border-radius: 20px;
            align-items: center;
            background-color: #fdffff;
            box-shadow: 0 4px 8px rgba(45, 45, 0.2);
            margin-top: 100px !important;
        }

        .button-box {
            width: 220px;
            margin: 35px auto;
            position: relative;
            /* box-shadow: 0 0 20px 9px rgba(65, 105, 225, 0.3); */
            box-shadow: 0 4px 8px rgba(24, 11, 11, 0.2);
            border-radius: 8px;
        }

        .toggle-btn {
            padding: 10px 30px;
            cursor: pointer;
            background: transparent;
            border: 0;
            outline: none;
            position: relative;


        }



        #btn {
            top: 0;
            left: 0;
            position: absolute;
            width: 110px;
            height: 100%;
            background: linear-gradient(to right, #3385FF, #3385FF);
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 8px;
            Transition: .5s;

        }

        .input-group {
            top: 129px;
            position: absolute;
            width: 280px;
            Transition: top o.5s ease;
        }

        .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }

        .submit-btn {
            width: 85%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin: 15px;
            /* background:linear-gradient(to right, #007AFF,#007AFF);  */
            border: 0;
            outline: none;
            border-radius: 8px;
            /* Style for the button with white font color */

            background-color: white;
            color: #3385FF;
            /* Set the font color to white */
            padding: 10px 20px;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(24, 24, 24, 0.2);
            transition: background-color 0.2s, color 0.2s;
        }

        .submit-btn:hover {
            background-color: #3385FF;
            /* Change background color on hover */
            color: white;
            /* Change font color on hover */
            /* transform: scale(1.060); */
        }

        .chech-box {
            margin: 30px 10px 30px 0;
            cursor: pointer;
        }

        span {
            color: #777;
            font-size: 12px;
            bottom: 68px;
            position: absolute;
        }

        #login {
            left: 50px;

        }

        #register {
            left: 450px;
        }

        /* CSS FILE FOR LOGIN AND SIGNUP PAGE ENDS HERE */

        .footer {
            margin-top: 20px;
            text-align: center;
        }

        .footer a {
            color: #ffffff;
            text-decoration: none;
        }
    </style>
    <div class="abc">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"> </div>
                    <button type="button " class="toggle-btn" onclick="login()">Log In </button>
                    <button type="button " class="toggle-btn" onclick="register()"
                        style="width: 109px; height: auto;">Register</button>
                </div>


                <form id="login" class="input-group">

                    <input type="text" class="input-field" placeholder="User Name " required>
                    <input type="text" class="input-field" placeholder="Enter Passowrd" required>
                    <button type="submit" class="submit-btn">Log in</button>
                </form>


                <form id="register" class="input-group">

                    <input type="text" class="input-field" placeholder="User Name" required>
                    <input type="text" class="input-field" placeholder="Type Email" required>
                    <input type="text" class="input-field" placeholder="Enter Password" required>
                    <input type="text" class="input-field" placeholder="Confirm Password" required>

                    <button type="submit" class="submit-btn">Register</button>

                </form>
            </div>

        </div>
<div class="footer">

</div>
</div>
<script>
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    var z = document.getElementById("btn");

    function register() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
    }

    function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";

    }


</script>

{% endblock body %}